* {
    margin: 0;
    padding: 0;
    background: var(--main-background-clr);
    font-family: sans-serif;
}

:root {
    color-scheme: light dark;
    --p-color: #003082;
    --main-background-clr: #E6E6E9;
    --header-background: #FFC919; 
    --second-background: #F0F1F3;
    --heading-color: light-dark(#0A3681, #E3E4E7);
}

@font-face {
    font-family: nssans-regular;
    src: url(/fonts/nssans-regular.woff2);
}

@font-face {
    font-family: nssans-bold;
    src: url(/fonts/nssans-bold.woff2);
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em;
    border-radius: 0 0 16px 16px;
    background: var(--header-background);
}

h1 {
    background: transparent;
    color: var(--heading-color);
}

span {
    background: red;
    padding: 1em;
    padding-top: 0;
    padding-bottom: 0;
    width: max-content;
    border-radius: 16px;
    margin: 1em;
}

h2 {
    background: red;
}

fieldset {
    padding: 1em;
    margin: 1em;
    background: var(--second-background);
    border-color: transparent;
    border-radius: 16px;
    color: var(--p-color);
}

legend {
    background: var(--second-background);
    text-decoration: underline;
}

label {
    display: block;
    background: var(--second-background);
}

input {
    display: block;
}